<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CeeLearnAndDo</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("/vendor/bootstrap/css/bootstrap.min.css")

    <!-- Custom fonts for this template -->
    @Styles.Render("/vendor/font-awesome/css/font-awesome.min.css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <!-- Plugin CSS -->
    @Styles.Render("/vendor/datatables/dataTables.bootstrap4.css")


    <!-- Summernote -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    @Styles.Render("/css/sb-admin.css")

    @Styles.Render("/css/Panel.css")
</head>
<body class="fixed-nav sticky-footer" id="page-top" cz-shortcut-listen="true">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html"><strong>Dashboard</strong> CeeLearnAndDo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav text-uppercase" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                    <a class="nav-link active" href="/beheer/dashboard">
                        <i class="fas fa-home"></i>
                        <span class="nav-link-text">Home</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Articles">
                    <a class="nav-link" href="/beheer/artikelen">
                        <i class="far fa-newspaper"></i>
                        <span class="nav-link-text">Artikelen</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Questions">
                    <a class="nav-link" href="/beheer/vraagbaak">
                        <i class="far fa-question-circle"></i>
                        <span class="nav-link-text">Vraagbaak</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="References">
                    <a class="nav-link" href="/beheer/referenties">
                        <i class="fas fa-link"></i>
                        <span class="nav-link-text">Referenties</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="PageContent">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Pagina's</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="/beheer/content/home">Home</a>
                        </li>
                        <li>
                            <a href="beheer/content/contact">Contactpagina</a>
                        </li>
                        <li>
                            <a href="/beheer/content/vraagbaak">Vraagbaak</a>
                        </li>
                        <li>
                            <a href="/beheer/content/referenties">Referentiepagina</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © CeeLearnAndDo @DateTime.Now.ToString("yyyy")  </small>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Uitloggen?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecteer "Uitloggen" om de huidige sessie te beëindigen.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleren</button>
                    <a class="btn btn-primary" href="login.html">Uitloggen</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("/js/jquery-3.3.1.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @Scripts.Render("/js/bootstrap.min.js")


    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/vendor/jquery-easing/jquery.easing.min.js")

    <!-- Page level plugin JavaScript-->
    @Scripts.Render("~/vendor/chart.js/Chart.min.js")
    @Scripts.Render("~/vendor/datatables/dataTables.bootstrap4.js")


    <!-- Custom scripts for all pages-->
    @Scripts.Render("~/js/sb-admin.min.js")

    <!-- Custom scripts for this page-->
    @Scripts.Render("~/js/sb-admin-datatables.min.js")
    @Scripts.Render("~/js/sb-admin-charts.min.js")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

    <script>
            $('#summernote').summernote({
                placeholder: 'Content',
                tabsize: 2,
                height: 100
            });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
