<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CeeLearnAndDo</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    @Styles.Render("/vendor/bootstrap/css/bootstrap.min.css")

    <!-- Custom fonts for this template -->
    @Styles.Render("/vendor/font-awesome/css/font-awesome.min.css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    @Styles.Render("/vendor/magnific-popup/magnific-popup.css")

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    @Styles.Render("/css/freelancer.min.css")

    @Styles.Render("/Content/Site.css")


</head>
<body id="page-top">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CeeLearnAndDo</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item mx-0 mx-lg-1">
                        @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" })
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        @Html.ActionLink("Over ons", "About", "Home", new { @class = "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" })
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @RenderBody()

    <!--Footer Section-->
    <footer>

        <div class="social-media">
            <h1>Socialmedia</h1>
            <div class="sm-container">
                <a href="https://www.facebook.com">
                    <img src="https://www.placehold.it/50x50" />
                </a>
                <a href="https://www.twitter.com">
                    <img src="https://www.placehold.it/50x50" />
                </a>
                <a href="https://www.instagram.com">
                    <img src="https://www.placehold.it/50x50" />
                </a>
                <a href="https://www.youtube.com">
                    <img src="https://www.placehold.it/50x50" />
                </a>
            </div>
        </div>

        <div class="company-information">
            <h1>Company information</h1>
            <p>Kruseman van Eltenweg 4</p>
            <p>1817 BC Alkmaar</p>
            <p>The Netherlands</p>
            <p>(072) 547 66 00</p>
        </div>

        <iframe src="https://snazzymaps.com/embed/63003"></iframe>
    </footer>

    @Scripts.Render("/js/jquery-3.3.1.min.js")
    @Scripts.Render("/js/popper.min.js")
    @Scripts.Render("/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
