<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CeeLearnAndDo</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("/vendor/bootstrap/css/bootstrap.min.css")

    <!-- Custom fonts for this template -->
    @Styles.Render("/vendor/font-awesome/css/font-awesome.min.css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <!-- Plugin CSS -->
    @Styles.Render("/vendor/datatables/dataTables.bootstrap4.css")

    <!-- Custom styles for this template -->
    @Styles.Render("/css/sb-admin.css")

    @Styles.Render("/css/Panel.css")
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" cz-shortcut-listen="true">
            @RenderBody()


    <footer>
 
    </footer>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Uitloggen?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecteer "Uitloggen" om de huidige sessie te beëindigen.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleren</button>
                    <a class="btn btn-primary" href="login.html">Uitloggen</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("/js/jquery-3.3.1.min.js")
    @Scripts.Render("/js/bootstrap.min.js")


    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/vendor/jquery-easing/jquery.easing.min.js")

    <!-- Page level plugin JavaScript-->
    @Scripts.Render("~/vendor/chart.js/Chart.min.js")
    @Scripts.Render("~/vendor/datatables/dataTables.bootstrap4.js")


    <!-- Custom scripts for all pages-->
    @Scripts.Render("~/js/sb-admin.min.js")

    <!-- Custom scripts for this page-->
    @Scripts.Render("~/js/sb-admin-datatables.min.js")
    @Scripts.Render("~/js/sb-admin-charts.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
