@model CeeLearnAndDo.Models.Article

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Header -->
<header class="masthead article-image bg-primary text-white text-center" style="background-image: url(/UploadedFiles/ArticleImages/@Html.DisplayFor(model => model.ImagePath))">
    <div class="container" style="text-shadow: 1px 1px 1px black">
        <h1 class="mb-0">@Html.DisplayFor(model => model.Title)</h1>
        <p class="font-weight-light mb-0">@Html.DisplayFor(model => model.Description)</p>
    </div>
</header>
<section class="bg-about text-black mb-0" id="about">
    <div class="d-flex flex-row">
        <div class="p-2">
            <small>
                <a href="@Url.Action("Edit", new { id = Model.Id })"><i class="far fa-edit"></i> Wijzigen</a>
            </small>
        </div>
        <div class="p-2">
            <small>
                <a href="@Url.Action("Delete", new { id = Model.Id })"><i class="far fa-trash-alt"></i> Verwijderen</a>
            </small>
        </div>
        <div class="p-2">
            <small>
                <a href="@Url.Action("Edit", new { id = Model.Id })"><i class="fas fa-arrow-left"></i> Terug naar het overzicht</a>
            </small>
        </div>
        <div class="p-2 ml-auto">
            <small>Laatst gewijzigd op: <strong>@Html.DisplayFor(model => model.UpdatedAt)</strong></small>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
    <hr />
    <div class="d-flex flex-row">
        <div class="p-2">
            <small>
                <a href="@Url.Action("Edit", new { id = Model.Id })"><i class="far fa-edit"></i> Wijzigen</a>
            </small>
        </div>
        <div class="p-2">
            <small>
                <a href="@Url.Action("Delete", new { id = Model.Id })"><i class="far fa-trash-alt"></i> Verwijderen</a>
            </small>
        </div>
        <div class="p-2">
            <small>
                <a href="@Url.Action("Index", new { id = Model.Id })"><i class="fas fa-arrow-left"></i> Terug naar het overzicht</a>
            </small>
        </div>
        <div class="p-2 ml-auto">
            <small>Laatst gewijzigd op: <strong>@Html.DisplayFor(model => model.UpdatedAt)</strong></small>
        </div>
    </div>
</section>
